{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container row">
        <h1 class="col-11">Etat avancement recherche emploi</h1>
    </div>

    <form action="" method="POST" >
        <input type="search" name="search" id="search" placeholder="rechercher" class="form form-control">
    </form>

    <table class="table table-striped">
        <thead  >
            {% for key, result in results %}
                {% for key, categorie in result %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% endfor %}
        </thead>
        <tbody>
            {% for key, lignes in results %}
                <tr>
                    {% for ligne in lignes %}
                        <td>{{ ligne}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/newData" method="POST">
        <input type="submit" name="add" class="btn btn-primary addData" value="+">
    </form>
{% endblock %}
